<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myoa.dao.RoleDao">	
	<select id="getAll" resultType="Role">
		select * from role
	</select>
	
	<insert id="add" parameterType="String">
		INSERT INTO Role VALUES(0,#{name});
	</insert>
	<update id="update" parameterType="Role">
		update role set name=#{name} where id=#{id}
	</update>
	<delete id="delete" parameterType="int">
		delete from role where id=#{id}
	</delete>
</mapper>